<header class="jumbotron">
  <div class="container">
    <h1>Welcome to YelpCamp</h1>
    <p>View our handpicked campgrounds</p>
    <p>
      <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new camgrounds</a>
    </p>
  </div>
</header>

<div class="row">
  <div class="col-lg-12">
    <h4>Our most reputable camgrounds</h3>
  </div>
  <div class="col-md-3 col-md-6">
    {{#each campgrounds}}
    <p>name: {{name}}</p>
    <div class="thumbnail">
      <img src="{{image}}" />
    </div> {{/each}}
  </div>
</div>